
# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks,python,visualstudiocode,pycharm
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks,python,visualstudiocode,pycharm

# ignore data/
data/

#낙헌
3. Side Project/2021.01.25. Gesture Recognition/2021.01.19. Final_Step/3. img_data/img_data.npy
3. Side Project/2021.01.25. Gesture Recognition/2021.01.22. Wls_final/skeleton_estimation_train/skeleton_train_data.lmdb
3. Side Project/2021.01.25. Gesture Recognition/2021.01.22. Wls_final/checkpoints/
3. Side Project/2021.01.25. Gesture Recognition/2021.01.22. Wls_final/CNN_best_model.h5
3. Side Project/2021.01.25. Gesture Recognition/2021.01.22. Wls_final/CNN_best_model_sitter미흡.h5
4. 논문스터디/2021.05.20. Human Pose Estimation from Video and IMUs/1차.mp4
4. 논문스터디/2021.05.20. Human Pose Estimation from Video and IMUs/2차.mp4
3. Side Project/2021.04.23. 대한임베디드공학회 준비/fire-detection/CNN_best_model_high.h5